<hmtl>
	<head>	
	<script src="javascript.js"></script>
	<link rel="stylesheet" type="text/css" href="css.css" />
	</head>
	<body>
	
            <p>Jugador 1</p><input type="text" id="jugador1" />
            <p>Jugador 2</p><input type="text" id="jugador2" />
            <input type="button" value="JUGAR" onclick="iniciarJuego()" id="iniciarJuego"/></br></br>
            
            <div id ="juego">
                <div id = "preg" class="capas">
                    <p>PREGUNTA</p><textarea rows="5" cols="26" id = "pregunta" readonly></textarea></br>
                    <p>RESPUESTA 1</p><input type = "text" id = "txtrespuesta1" size = "30" readonly>
                    <p>RESPUESTA 2</p><input type = "text" id = "txtrespuesta2" size = "30" readonly></br>
                    <p>RESPUESTA 3</p><input type = "text" id = "txtrespuesta3" size = "30" readonly></br>
                    <p>RESPUESTA 4</p><input type = "text" id = "txtrespuesta4" size = "30" readonly></br>
                </div>
		
		<div id = "tablero">
                    <table border="1">
                    <tr>
                    <td id="celda16" width ="100px" height = "100px"></td><td id="celda15" width ="100px" height = "100px"></td><td id="celda14" width ="100px" height = "100px"></td><td id="celda13" width ="100px" height = "100px"></td><td id="celda12" width ="100px" height = "100px"></td><td id="celda11" width ="100px" height = "100px"></td>
                    </tr>
                    <tr>
                    <td id="celda17" width ="100px" height = "100px"></td><td rowspan="4" colspan="4" id = "central"><table><tr><td id = "dado"></td></tr></table></td><td id="celda10" width ="100px" height = "100px"></td>
                    </tr>
                    <tr>
                    <td id="celda18" width ="100px" height = "100px"></td><td id="celda9" width ="100px" height = "100px"></td>
                    </tr>
                    <tr>
                    <td id="celda19" width ="100px" height = "100px"></td><td id="celda8" width ="100px" height = "100px"></td>
                    </tr>
                    <tr>
                    <td id="celda20" width ="100px" height = "100px"></td><td id="celda7" width ="100px" height = "100px"></td>
                    </tr>
                    <tr>
                    <td id="celda1" width ="100px" height = "100px">INICIO</td><td id="celda2" width ="100px" height = "100px"></td><td id="celda3" width ="100px" height = "100px"></td><td id="celda4" width ="100px" height = "100px"></td><td id="celda5" width ="100px" height = "100px"></td><td id="celda6" width ="100px" height = "100px"></td>
                    </tr>
		</div>
            </div>
		
		

	</body>
</html>