body
{
	background-image:url(fondo.jpg);
}

p{color: yellow;}

#central {background-image:url("tablero.png"); 
          background-position: 50% 50%;}

#preg{width: 200px}

#tablero{position:fixed;
		top:10px;
		right:200px;}
		
